### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Spring Boot Config ###
.env
application-*.yml
application-*.properties

### IntelliJ IDEA ###
.idea/
*.iml
*.ipr
*.iws

### Eclipse / STS ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Logs ###
*.log

### OS files ###
.DS_Store
Thumbs.db

### Temporary / Backup ###
*.tmp
*.bak
*.swp
# Local development overrides
application-local-override.yml
