# Cloudinary profile configuration
cloudinary:
  cloud-name: ${CLOUDINARY_CLOUD_NAME}
  api-key: ${CLOUDINARY_API_KEY}
  api-secret: ${CLOUDINARY_API_SECRET}
  cors:
    allowed-origins: "*"
    allowed-methods: GET,POST,PUT,DELETE